//override

body {
	color: #212427;
	font-size: 14px !important;
	line-height: 28px;
	margin:0;
	padding:0;
	border:0;
	outline:none;
	width: 100vw;
	max-width: 100%;
	height: 100vh;
	height: -webkit-fill-available;
  }

  h1, .h1 {
	font-size: 1.5rem;
  }
  
  h3, .h3 {
	font-size: 1rem;
  }
  
  h6, .h6 {
	font-size: 0.875rem;
  }
  
  small, .small { font-size:13px !important}
  
  .container-max {
	max-width: 1400px;
  }
  
  .container-footer {
	margin: 0 auto;
	padding: 24px 12px;
  }
  
  .top-bar {
	padding: 3px;
	background-color: #f9f9f9;
	.controls-list {
	  height: 64px !important;
	  .list-inline-item {
		margin-right: 3px;
		font-size: 14px;
		display: -webkit-inline-box;
		display: -ms-inline-flexbox;
		display: inline-flex;
		-webkit-box-align: stretch;
		-ms-flex-align: stretch;
		align-items: stretch;
		.nav-link {
		  padding: 6px 15px !important;
		}
	  }
	}
  }

  .control-big {
	flex: 1 0 auto;
  }
  
  .top-bar-items {
	max-width: 1400px;
	margin: 0 auto;
  }
  
  .navbar-toggler {
	margin-left: 0;
	padding: 12px 6px !important;
  }
  
  .breadcrumb-item a {
	color: #09038d !important;
	font-size: 0.75rem !important;
  }
  
  .breadcrumbs .breadcrumb .breadcrumb-item span {
	font-size: 0.6rem !important;
  }
  
  .text-dark, .color-dark {
	color: #222 !important;
  }
  
 
  .autocomplete-suggestions {
	padding: 6px 12px;
  }
  
  .add-to-basket-container {
	display: -webkit-inline-box;
  }
  
  .is-single-piece {
	display: none;
  }
  
  .price.h1 {
	font-size: 2.5rem;
	font-weight: bold;
	color: red;
  }
  
  .cmp-product-thumb .thumb-content .thumb-meta .prices .price {
	font-size: 24px !important;
	color: red !important;
	font-weight: bold !important;
  }
  
  .container-mwst {
	background-color: #802331;
	width: 100%;
	margin-bottom: 0px;
	padding: 2px 0;
	color: #fff;
  }
  
  .autocomplete-suggestions {
	-webkit-overflow-scrolling: touch;
	max-height: 80vh;
	overflow-x: hidden;
	position: absolute;
	top: 100%;
	z-index: 1070;
  }
  
  .logospecial {
	margin: 6px;
  }
  
  .navbar-toggler {
	font-size: 1rem;
	padding: 8px !important;
  }
  
  .page-content {
	margin: 0 auto;
  }
  
  .search-submit {
	border-left: 0;
  }
  
  .top-bar .controls-list {
	height: 64px !important;
  
	.list-inline-item .nav-link {
	  padding: 0 2px !important;
  
	  i {
		font-size: 1rem !important;
	  }
	}
  }
  
  .vat {
	display: none;
  }
  
  body {
	font-size: 0.875rem !important;
	line-height: 2.15;
  }
  
  h6, .h6 {
	font-size: 0.875rem;
  }
  
  input:not([type="checkbox"]):not([type="radio"]) {
	line-height: 1rem !important;
	min-height: auto;
  }
  
  textarea {
	line-height: 1rem !important;
	min-height: auto;
  
	&.form-control {
	  line-height: 1rem !important;
	  min-height: auto;
	}
  }
  
  .input-unit-preview, .custom-select, select.form-control {
	line-height: 1rem !important;
	min-height: auto;
  }
  
  p a:not(.btn) {
	border: 0;
	text-decoration: none !important;
  }
  
  @media (min-width: 576px) {
	.top-bar .controls-list .list-inline-item .nav-link {
	  padding: 0 12px !important;
	}
  }
  
  @media (min-width: 768px) {
	.top-bar .controls-list .list-inline-item {
	  .nav-link {
		padding: 0 24px !important;
	  }
  
	  &.control-wish-list span.badge-right {
		left: 48px;
		top: 18px;
	  }
	}
  }
  
  .always-visible-search {
	border: 3px double;
  }
  
  .brand-wrapper .navbar-brand img {
	max-height: 52px !important;
  }
  
  .my-search-button {
	border: 0;
  }
  
  .search-input {
	font-size:  0.875rem !important;
  }

  input:not([type="checkbox"]):not([type="radio"]) {
	font-size: 0.875rem;
  }
  
  textarea {
	font-size: 0.875rem;
  
	&.form-control {
	  font-size: 0.875rem;
	}
  }
  
  .input-unit-preview, .custom-select, select.form-control {
	font-size: 0.875rem;
  }

  .breadcrumbs .breadcrumb {
	background-color: transparent !important;
	padding-bottom: 6px !important;
	font-size: 11px !important;
  }
  
  .breadcrumb-item a {
	color: #09038d !important;
	font-size: 0.75rem !important;
	font-family: Tahoma, sans-serif;
	font-weight: normal !important;
  }
  
  .breadcrumbs .breadcrumb .breadcrumb-item span {
	font-size: 12px !important;
	color: red !important;
	font-weight: normal !important;
	letter-spacing: normal !important;
  }
  
  p {
	margin-bottom: 0.5rem !important;
  
	a:not(.btn) {
	  color: #0044cc !important;
	}
  }
  
  .mobile-navigation {
	width: 25rem !important;
	max-width: 90%;
	.mainmenu li a {
	  font-family: Tahoma, sans-serif;
	  font-weight: normal !important;
	}
  }
  
  .cmp-product-thumb {
	.add-to-basket-lg-container {
		-webkit-transform: translateX(0px);
		transform: translateX(0px);
	}
  }
 
  .always-visible-search {
	border-color: #eee8aa !important;
	padding:2px;
  }
  
$background-color_1: #fff;
$border-color_1: #fff;

.anicon {
	>.anicon-search-item {
		&:before {
			background-color: $background-color_1;
		}
		&:after {
			border-color: $border-color_1;
		}
	}
}
.top-bar.bg-transparent {
	&:not(.default-font-color) {
		.anicon-search-item {
			&:before {
				background-color: $background-color_1;
			}
			&:after {
				border-color: $border-color_1;
			}
		}
	}
}
 
  .my-search-button, .search-submit {
	background-color: #fff !important;
  }
  
  .navbar-toggler, .top-bar .controls-list .list-inline-item .nav-link {
	color: #fff !important;
  }
  
  .navbar-toggler:hover, .top-bar .controls-list .list-inline-item .nav-link:hover, a.mwst-link:hover {
	color: #eee8aa !important;
  }
  
  .top-bar {
	background-color: #802331 !important;
	color: #fff !important;
  }
  
  a.mwst-link {
	color: #87cefa !important;
  }


.custom-select {height:48px}

.notification-wrapper {
    position: fixed;
    top: 10rem;
    left: 50%;
    right: auto !important;
    transform: translateX(-50%);
    z-index: 10001;
}

.alert.alert-warning {
    border: 6px solid #ffc107;
    background-color: #fffec4;
}

@media (min-width: 576px) {
.notification-wrapper .alert {
    width:100% !important;
    min-width: 400px;
    max-width:700px;
   }
}


@media (min-width: 992px) { 
	body {
		overflow-x: hidden;
		overflow-y: scroll;
	}
}