{% import "Ceres::PageDesign.Macros.LayoutContainer" as LayoutContainer %}

{% set numberOfCols         = config('Ceres.footer.number_of_cols') %}
{% set colSize              = (12 / (numberOfCols + 1)) %}
{% set displayedCategories  = [] %}
{% set numberOfFeatures     = config('Ceres.footer.number_of_features') %}
{% set topButtonPosition    = config('Ceres.footer.to_top_button') %}

{% set footerContainer = LayoutContainer.show("Ceres::Footer") | trim %}

    <div class="footer container-max d-print-none">
        <div class="row">
            <div class="col clearfix">
			
				<div id="footer" class="container-footer">
					<div class="row">
						<div class="col-12 col-md-3">
							<div class="p-2">
								<p class="h4 text-center">Kundenservice</p>
								<ul class="">
									<li class=""><a href="/batterieentsorgung">Batterieentsorgung</a></li>
									<li class=""><a href="/kontakt">Kontakt</a></li>
									<li class=""><a href="/zahlung-und-versand">Zahlung und Versand</a></li>
								</ul>
							</div>
						</div>

						<div class="col-12 col-md-3">
							<div class="text-center p-2">
								<p class="h4">Versandpartner</p>
								<img src="https://image.airbrush-city.de/frontend/airbrush/versandpartner.jpg" alt="Versandpartner" width="300" height="152" class="img-fluid">
							</div>
						</div>
						
						<div class="col-12 col-md-3">
							<div class="text-center p-2">
								<p class="h4">Zahlungsarten</p>
								<img src="https://image.airbrush-city.de/frontend/airbrush/zahlungsarten.jpg" alt="Zahlungsarten" width="300" height="152" class="img-fluid">
							</div>
						</div>
						
						<div class="col-12 col-md-3">
							<div class="text-center p-2">
								<p class="h4">Geprüfter Shop</p>
								{% set kaeufersiegelUrl = config("Ceres.special.kaeufersiegelUrl") %}
								<a href="{{ kaeufersiegelUrl }}" target="_blank">
									<img src="https://image.airbrush-city.de/frontend/airbrush/sicherheit.png" alt="Zahlungsarten" width="300" height="152" class="img-fluid">
								</a>
							</div>
						</div>
						
					</div>

					<div class="row">
						<div class="col-12">
							<hr>
							<ul class="d-flex justify-content-around">
								<li class="list-inline-item"><a href="/gtc">AGB</a></li>
								<li class="list-inline-item"><a href="/cancellation-rights">Widerrufsrecht</a></li>
								<li class="list-inline-item"><a href="/privacy-policy">Datenschutz</a></li>
								<li class="list-inline-item"><a href="/legal-disclosure">Impressum</a></li>
							</ul>        
						   <hr> 
						</div>
					</div>

				</div>			
			
                {{ footerContainer | raw }}
            </div>
        </div>

        <div class="btn text-center border mx-auto rounded-lg p-0{% if topButtonPosition == "right" %} back-to-top btn-secondary pt-1{% else %} back-to-top-center{% endif %}">
            <i class="fa fa-chevron-up fa-2x default-float"></i>
        </div>

        <div class="btn btn-secondary d-block d-md-none text-center p-2" v-scroll-to-top>
            <i class="fa fa-arrow-up fa-2x default-float" aria-hidden="true"></i>
        </div>
    </div>

