{% import "Ceres::PageDesign.Macros.LayoutContainer" as LayoutContainer %}
{% cacheblock %}
<div class="row">
    <div class="col-12 p-3 text-center">
        <hr> 
        <p>&nbsp;</p> 
        <strong>** Deutschland:</strong> Standard DHL Lieferzeit 1 bis 3 Tage, Versandkosten nach Gewicht bis 1kg = 5,35 €, über 1kg bis 20 kg = 5,90€, über 20 kg = 6,90€ und ab 149€ Bestellwert Versandkostenfrei.<br>
        (Auslandsversand Lieferzeit 3 bis 14 Tage, Sperrgut Aufschlag, Speditions Aufträge, Express Versand und weitere Gewichtsstaffelungen werden in der Kasse berechnet). - <a href="/zahlung-und-versand">Versandinformationen</a>
    </div>
</div>
{% endcacheblock %}