{% spaceless %}

    {% if category.linklist == "Y" %}
        {% set initialCategory = { id: category.id } %}
    {% else %}
        {% set initialCategory = category %}
    {% endif %}

    {# set the initialCategory to the default category of the current item #}
    {% if services.template.isItem() == "1" and defaultCategory is not null %}
        {% set initialCategory = defaultCategory %}
    {% elseif services.template.isCurrentTemplate('tpl.home.category') %}
        {% set initialCategory = null %}
    {% endif %}
    
{% endspaceless %}
<div class="category-title d-none d-lg-flex mt-2 pl-3">{{ trans("Ceres::Template.itemCategories") }}</div>	
<lazy-hydrate when-idle>
    <mobile-navigation :initial-category="{{ initialCategory | json_encode }}" :include-language="{{ urls.includeLanguage | json_encode }}" :breakpoints="['xs', 'sm', 'md', 'lg', 'xl']"></mobile-navigation>
</lazy-hydrate>